body {
    background: url('https://images.unsplash.com/photo-1521459467264-802e2ef3141f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3024&q=80') ;
    background-size: 50%;
}
.glow {
    font-size: 60px;
    color: #fff;
    font-weight: bold;

    animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
}
#digital{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);

}

canvas{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);   
}